body {
    padding: 25px;
}
h1 {
    font-family: "Franklin Gothic Medium", sans-serif;
    color: #666;
    font-weight: normal;
    font-size: 56px;
    margin: 15px;
}
ul {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13pt;
    line-height: 30px;
    padding: 0px;   
}
#myInput {
    width: 95%; 
    font-size: 16px; 
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd; 
    margin-bottom: 12px;
}
.filterSection li {
    list-style: none;
    margin: 0px;
    padding: 5px;
    display: inline;
     
}
.filterSection {
    margin: 0px;
    padding: 0px;
    background-color: #EEEEEE;
}
#ItemsToFilter li {
    list-style: none;
    background-position: 0 3px;
    background-repeat: no-repeat;
    margin: 15px;
    padding-left: 40px;
    font-size: 15pt;
}

#ItemsToFilter li a {
    text-decoration: none;
    color: black;
} 
#ItemsToFilter li[data-type=media] {
    background-image: url("img/small_leaf.png");
}

#ItemsToFilter li[data-type=brands] {
    background-image: url("img/small_plane.png");
}

#ItemsToFilter li[data-type=technology] {
    background-image: url("img/small_megaphone.png");
}

.showItem {
    display: list-item;
}

.hideItem {
    display: none;
}